.card {
  height: 15rem;
  width: 20rem;
  margin: 2rem 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex: 0 1 25rem;
}
.card-img {
  height: 70%;
  width: 100%;
  overflow: hidden;
}

.card:hover img {
  transform: scale(1.4);
}
.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
}
.card-text {
  font-size: 1.5rem;
  padding-top: 1rem;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  color:black;
}

@media (max-width: 700px) {
  .card {
    height: 12rem;
    width: 15rem;
  }
}
