.addProducts {
  min-height: 50vh;
  width: 80%;
  margin: auto;
}

form {
  margin: 1rem 0;
  width: 50%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 1.2rem;
}

form input {
  width: 60%;
}

form input:nth-of-type(3) {
  width: 40%;
}
form button {
  width: 12rem;
  margin: 1rem 0;
  background: #f0c14b;
  border-radius: 2px;
  height: 40px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

@media (max-width: 900px) {
  form input {
    width: 100%;
  }
  form {
    width: 100%;
  }
}
