.intro {
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  background: #f1eaea;
}

@media (max-width: 900px) {
  .introImage {
    display: none;
  }
  .intro > div {
    flex: 1 1 20rem;
  }
}

.introImage {
  width: 30%;
  height: 90vh;
  position: relative;
}

.imgBackground {
  position: absolute;
  width: 9vh;
  top: 5%;
  left: 7%;
  height: 60%;
  z-index: -1;
  background: rgb(35, 175, 49);
  background: linear-gradient(
    90deg,
    rgba(35, 175, 49, 1) 0%,
    rgba(26, 179, 180, 1) 70%,
    rgba(0, 212, 255, 1) 100%
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.introImage img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
}

.introText {
  width: 60%;
  height: 100%;
  margin-top: 2rem;
}

.introText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introHeading {
  font-size: 2rem;
}

.introSubheading {
  color: green;
  position: relative;
}

.introSubheading::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  width: 2rem;
  height: 1px;
  background: green;
  margin: 0 0.3rem;
}
.introSubheading::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 1px;
  background: green;
  margin: 0 0.3rem;
}

.introDesc {
  text-align: center;
  font-size: 0.9rem;
  margin: 3rem 0;
}

.IntroExtraBottom {
  display: flex;
}

@media (max-width: 900px) {
  .IntroExtraBottom {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
.introDesc {
  width:90%
}
.IntroExtraBottom{
  width: 90%;
}
.IntroExtraBottom > div{
  margin: .5rem 0;
}

}

.IntroExtraBottom > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.IntroExtraBottom > div div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.IntroExtraBottom > div div:nth-of-type(2) span {
  text-align: center;
}

.IntroExtraBottom img {
  width: 4rem;
  object-fit: contain;
}
